<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="customFactory" class="com.zzyy.spring.factory.CustomBeanFactory"/>

    <!--<bean id="student" factory-bean="customFactory" factory-method="createBean"></bean>-->

    <bean id="student" class="com.zzyy.spring.entity.Student"></bean>

</beans>
